body {
    background-color: #f0f8ff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.formulario {
    background-color: #fffaf0; 
    border-radius: 12px;
    border: 1px solid #000; 
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}